:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f3f4f6;
  background-color: #06060a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* overflow: hidden; */
  background: #06060a;
  font-family: 'Bitcount Single', system-ui;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitcount Single', system-ui;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

p {
  font-family: 'B612 Mono', monospace;
  font-size: 14px;
}

section {
  width: 100vw;
  min-height: 100vh;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.canvas-stage {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.full-page {
  width: 100vw;
  height: 100vh;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage-zero,
.stage-one,
.stage-three,
.canvas-stage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .text-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75vw;
    // height: 100%  ;
    font-size: 3rem;
    text-align: left;
  }
}

///////////////////////////////////
/// STAGE 0
////////////////////////////////

.stage-zero {
  position: relative;
  z-index: 50;
}

///////////////////////////////////
/// STAGE 1
////////////////////////////////
.stage-one {
  position: relative;
  z-index: 40;

  font-size: 2rem;
  text-align: left;
  width: 100vw;
  height: 100vh;

  .wrapper {
    width: 75vw;
  }

  .decrypted-text {
    margin: 5%;
  }
}

///////////////////////////////////
/// STAGE 2
////////////////////////////////
.stage-two {
  position: relative;
  z-index: 30;
  font-size: 2.5rem;

  .spacer {
    height: 600vh;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .panel {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    will-change: transform;
    gap: 8vw;

    background: #06060a;

    img:nth-child(odd) {
      transform: translateY(-10%);
    }

    img:nth-child(even) {
      transform: translateY(10%);
    }
  }
}

///////////////////////////////////
/// STAGE 3
////////////////////////////////
.stage-three {
  position: relative;
  z-index: 90;
  height: 100vh;
}

///////////////////////////////////
/// STAGE 4
////////////////////////////////
.canvas-stage {
  position: relative;
  z-index: 90;
  height: 100vh;
}

.stage-two .panel {
  position: relative;
  background: #06060a;
  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      z-index: $i;
    }
  }
}

.three-d-text-wrapper {
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  .three-d-text-type {
    transform: translateY(-50%);
    padding-bottom: 1%;
  }
}
